li.console-item {
    font-size:12px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    display:block;
}
#ul-console {
    text-decoration: none;
    margin:0;
    padding:0;
}

li > .console-aresta {
    color:#ff9900;
    font-weight:bold;
}

li > .console-vertice {
    color:#0480be;
    font-weight:bold;
}

a, button {
    outline: none!important;
}

div.tooltip-inner {
    text-align:left;
}
