/*
 * GRAFO.CSS
 * VERSAO: 0.1
 * 
 * DATA CRIACAO:       20/11/2012
 * ULTIMA MODIFICACAO: 21/11/2012
 * 
 * DESCRICAO: declara os componentes basicos do website
 * 
 * 
 * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 * LISTA DE MODIFICACOES:
 * 
 * 20/11/2012: criacao do arquivo, +#GrafoContainer, +hr.soften, +footer
 * 22/11/2012: +li.console.item, +li.extended
 *
 * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

#GrafoContainer {
    width:100%;
    left:0;
    border:0;
    margin:0;
    height:100%;
}

/*
 * 21/11/2012 (lucas) - copiado do site bootstrap
*/
/* Faded out hr */
hr.soften {
    height: 1px;
    margin: 70px 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
    border: 0;
}

hr.tag-border {
    margin:0;
}

.footer {
    padding: 70px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}

li.extended {
    margin-bottom: 40px;
}
